<section class="hero">
  <div class="hero-text">
    <h1 class="hero-text hero-title small-12 columns">Welcome to LoreStore</h1>
    <h2 class="hero-text hero-subtitle small-12 columns">Your one-stop shop for all things magical or otherworldly</h2>
  </div>
</section>
