<section class="hero">
  <div class="hero-text">
    <h1 class="hero-title small-12 columns">
      Welcome to
      <br /><span class="hero-lorestore">LoreStore</span>
    </h1>
    <h2 class="hero-subtitle small-12 columns">Your one-stop shop for all things magical or otherworldly</h2>
  </div>
</section>
