<section class="view-cart">
  <h2 class="page-title">Shopping Cart</h2>

  <% @products.each do |order_product| %>
    <p><%= order_product.product.name %></p>
    <p><%= order_product.total %></p>
  <% end %>

  <% unless @products.empty? %>
    <p>cart total</p>
    <%= total(@products) %>

    <%= link_to "Checkout Cart", new_order_path, class: 'button' %>
  <% else %>
  <p>
    Your cart is empty!! 👻
  </p>
  <% end %>
</section>
