<section class="order-new product-form large-8 medium-10 small-12 columns">
  <h2 class="page-title">
    <%= image_tag("005-trident.png", class:'tiny-img')  %> Payment details
  </h2>
  <%= render partial: "form", locals: { hide_placeholder_text: true, button_text: "Place Order" }%>
</section>
