<% if @cart.products.any? %>
  <% @cart.products.each do |product| %>
    <p><%= product.name %> | <%= link_to "Delete", product_path(product), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p> Unit Price: <%= product.price %></p>
  <% end %>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
