<section class="all-merchants">

  <% @merchants.each do |merchant| %>
  <section class="info-card">
    <section class="merchant">
      <span><%= merchant.username %></span>
      <span><%= merchant.email %></span>
      <span><%= link_to "Check out their Products", merchant_products_path(merchant.id), alt: "Link to merchant's products"%></span>
    </section>
    </section>
  <% end %>
</section>
