<section class="all-merchants">
  <span class="index-banner">
    <% if @merchants.count == 0 %>
    Yikes! No merchants meet those parameters.
    <% else %>
    Merchant Gallery
    <% end %>
  </span>

  <% @merchants.each do |merchant| %>
  <section class="info-card">
    <section class="merchant">
      <span class="index-image"><%= link_to image_tag("http://www.dailypublic.com/sites/default/files/2015/Oct/buffalo-Niagara-Heritage-Village.jpg"), merchant_path(merchant.id), alt: "A merchant's picture" %></span>
      <span><em><%= link_to merchant.username.upcase, merchant_path(merchant.id), alt: "Link to merchant's products"%></em></span>
    </section>
  </section>
  <% end %>
</section>
