<h2><%=@merchant.username%></h2>
<a href="mailto:<%=@merchant.email%>">Contact Merchant</a>
<h3>Products</h3>

<main class='small-10 columns'>
<%= render partial: "list-merchant-products", locals: {products: @merchant.products} %>
</main>
