/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .flash.success {
 color: green;
 }
 .flash.failure {
   color: red;
 }

nav li {
  list-style: none;
  display: inline;
}

/* ========== */
#cool-splash-transparency {
  background-color:rgba(0,0,0,0.8);
  min-height:100%;
  width:100%;
}
#cool-splash {
  height:600px;
  width:100%;
}

.link-hover:focus {
    color: #fff;
    background-color:#E67526;
}

.display-table {
    display: table;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.cute-bg {
    background: url(https://i.imgur.com/4OROSfE.jpg) no-repeat center center;
    background-size: cover;
    min-height: 700px;
    color: white;
    padding: 30px;
    text-align: center;
    background-position: bottom center;
}
