/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/
.flash.success {
  color: green;
}
.flash.failure {
  color: red;
}

nav li {
  list-style: none;
  display: inline;
}

.link-hover:hover, .link-hover:focus {
  color: #fff;
  background-color:#E67526;
}
#cool-splash-transparency {
  background-color:rgba(0,0,0,0.5);
  width:100%;
  color: white;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}

.inline-bl {
  display: inline-block;
}

.inline-bl span {
  font-size: .5em;
}

.dropdown {
  position: relative;
  display: inline-block;
  /*width: 100px;*/
  padding: 3% 6%;
  font-size: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 15px;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.align-nav {
  display: inline-block;
}

.span-align {
  min-width: 160px;
}
