// Place all the styles related to the merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/////////////
// PROFILE //
/////////////

.profile {
  float: none !important;
  margin: auto;
}

.profile-card {
  border: 2px solid grey;
  border-radius: 2rem;
  text-align: center;
  padding: 2rem;
  margin: 1rem auto;
  min-width: 15.5rem;
}

.profile-huge {
  font-size: 5rem;
}

.profile-button {
  display: block;
  margin: auto;
  min-width: 12rem;
  width: 80%;
}

// @media print, screen and (min-width: 40em) {
//   .profile-card {
//     min-height: 15.5rem;
//   }
// }


///////////////
// INVENTORY //
///////////////

.inventory-info > div {
  margin: 2rem 0;
  overflow-x: hidden;
  white-space: nowrap;
}

label.inventory-form {
  display: inline-block;
  text-align: right;
  width: 30%;
}

input.inventory-form {
  display: inline-block;
  width: 50%;
}

.new-product-button {
  margin: 3rem 0;
}
