// Place all the styles related to the order_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-img.product-thumbnail {
  display: inline-block;
  height: 7rem;
  margin: .5rem 1rem;
  width: 7rem;
}

.info {
  display: inline-block;
}

.info > .row > .row {
  display: inline-block;
}

.order-product h4, .order-product p {
  display: inline-block;
}

.order-product.row {
  border: 1px solid grey;
  margin: 1rem auto;
  width: 100%;
}

.ship-btn {
  margin-top: 1rem;
}
