// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// MAIN.HTML.ERB //
#cool-splash-transparency {
  background-color:rgba(0,0,0,0.8);
  min-height:100%;
  width:100%;
}

#cool-splash {
  height:600px;
  width:100%;
}

.display-table {
    display: table;
}

.vertical-align-table {
    display: table-cell;
    vertical-align: middle;
}

.cute-bg {
    background: url(https://i.imgur.com/4OROSfE.jpg) no-repeat center center;
    background-size: cover;
    // min-height: 700px;
    color: white;
    padding: 30px;
    text-align: center;
    background-position: bottom center;
}
