// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
background: url(https://i.imgur.com/UNi4pXz.jpg) no-repeat;
background-size: 100%;
}
// MAIN.HTML.ERB //
#cool-splash-transparency {
  background-color:rgba(0,0,0,0.8);
  width:100%;
  color: white;
}

.logo-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inline-bl {
  display: inline-block;
}

.inline-bl span {
  font-size: .5em;
}
