// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .review{
//   padding-left: 10%;
//   background-color: white;
//   border: .5px solid black;
//   border-radius: 1rem;
//   color: black;
// }
.first_line_info h6{
  display: inline-block;
  // text-indent: 2rem;
}
.change{
  background-color: white;
  border: .5px solid black;
  border-radius: 1rem;
  color: inherit;
}
.review_info{
  padding-left: 10%;
  background-color: white;
  border: .5px solid black;
  border-radius: 1rem;
  color: black;
}
