<section class="all-categories">

  <% @categories.each do |category| %>
  <section class="info-card">
    <section class="category">
      <span><%= category.name %></span>
    </section>
    </section>
  <% end %>
</section>

<% Category.all.each do |category| %>
<section class="info-card">
  <section class="category">
  <%= link_to category.name, category_products_path(category.id) %>
</section>
</section>
<% end %>
