<section class="all-categories">

  <% @categories.each do |category| %>
  <section class="info-card">
    <section class="category">
      <span><%= category.name %></span>
    </section>
    </section>
  <% end %>
</section>
