<section class="all-categories">
  <span class="index-banner">
  <% if @categories.count == 0 %>
    Yikes! No categories meet those parameters.
  <% else %>
    Categories
  <% end %>
  </span>

  <% @categories.each do |category| %>
  <section class="info-card">
    <section class="category">
      <span><img class="index-image", src="http://www.dailypublic.com/sites/default/files/2015/Oct/buffalo-Niagara-Heritage-Village.jpg"</img></span>
      <span class="category-name"><em><%= link_to category.name.upcase, category_path(category.id), alt: "Link to category products"%></em></span>
    </section>
    </section>
  <% end %>
</section>
