<h2>Edit product</h2>

<%#= render partial: 'layouts/error_messages',
    locals: { model: @work } %>
    <%= render partial: 'form',
      locals: { hide_placeholder_text: false, button_text: "Update Product", :class=>"button"}%>
