<section class="product-form large-8 medium-10 small-12 columns">
  <h2 class="page-title">
    <%= image_tag("006-poison.png", class:'tiny-img')  %> Edit Product Info
  </h2>

  <%= render partial: "product-form", locals: {button: "Update"} %>
</section>
