<section class="all-products">

  <% @products.each do |product| %>
  <section class="info-card">
    <section class="product">
      <img src="http://www.visitbuffaloniagara.com/content/uploads/sv-event-images/434cfb09-bb34-449b-ac6c-d400b6a53f1d.jpg" />
      <span>Product: <%= link_to product.name, product_path(product.id) %></span>
      <span>Price: <%= product.price %></span>
      <span>Quantity: <%= product.quantity_avail %></span>
      <span>Sold By: <%= product.merchant.username %></span>
    </section>
    </section>
  <% end %>
</section>
