<div class="row small-up-2 large-up-4">
  <hr>
  <div class="column cool-prod-transparency">
    <h5>Brioche</h5>
    <img class="thumbnail" src="https://images.food52.com/Rt1n7F7N5qpmMofeWadqMJPHtC4=/753x502/12bcfa24-59e6-4b49-9aa2-6b0a31ab8830--brioche_yossy_arefi-15.jpg">
    <p>Price: $5</p>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column cool-prod-transparency">
    <h5>Red Chilaquiles & Fried Eggs</h5>
    <img class="thumbnail" src="https://images.food52.com/rzgZ01EXRiJd1szmmQTaws1UG-4=/753x502/f87d6799-35b8-4d96-a7c5-c624e1f70938--2015_0112_quick-red-chilaquiles-5651.jpg">
    <p>Price: $10</p>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column cool-prod-transparency">
    <h5>Pan Fried Tofu</h5>
    <img class="thumbnail" src="https://www.maangchi.com/wp-content/uploads/2009/09/pan-fried-tofu.jpg">
    <p>Price: $10</p>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column cool-prod-transparency">
    <h5>Bubble tea</h5>
    <img class="thumbnail" src="https://prods3.imgix.net/images/articles/2017_06/non-feature-bubble-tea-bad-health.jpg">
    <p>Price: $5</p>
    <a href="#" class="button expanded">Buy</a>
  </div>
</div>
