<div class="cute-bg">
  <div class="row">
    <div class="large-12 columns">
      <div id="cool-splash-transparency">
        <div class="display-table" id="cool-splash">
          <div class="vertical-align">
            <div>
              <h1>Satiety</h1>
            </div>
            Home-Cooked Meals on Demand<br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
