<!-- ============TITLE============ -->
<main>
  <header class="callout large">
    <div class="row column text-center">
      <h1>Satiety</h1>
      <h3>Delivering Home-Cooked Meals on Demand</h3>
    </div>
  </header>
  <!-- =========================== -->
  <!-- ==========POPULAR========== -->
  <section class="row">
    <section class="medium-8 columns">
      <article class="blog-post">
        <h3><strong>Featured Dish:</strong> <span style="color:red">some code here</span></h3>
        <img class="thumbnail" src="http://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
          <ul class="menu simple">
            <li>Merchant: <span style="color:red">some code here</span></li>
            <li>Rating: <span style="color:red">some code here</span></li>
          </ul>
        </div>
      </article>

    </section>
  </section>
</main>
