<div class="row small-up-2 large-up-4">
  <hr>
  <div class="column cool-prod-transparency">
    <h5>A Product</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <p>$1Million</p>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column cool-prod-transparency">
    <h5>A Product</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <p>$1Million</p>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column cool-prod-transparency">
    <h5>A Product</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <p>$1Million</p>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column cool-prod-transparency">
    <h5>A Product</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <p>$1Million</p>
    <a href="#" class="button expanded">Buy</a>
  </div>
</div>
