<section class="small-10 columns review-info">
  <div class="row">
    <div class="small-12 medium-5 columns review-details">
      <h4> <%=@review.rating %> </h4>
      <p>
      <% if session[:merchant] %>
        Logged in as <%= Merchant.find(session[:merchant]).merchant_id %>
      <% else %>
          Logged in as a Guest
      <% end%>
      </p>
      <div class="row description">
        <h4> <%= @review.description %> </h4>
      </div>
    </div>
  </div>
</section>
