<section class="order-new product-form large-8 medium-10 small-12 columns">
  <h2 class="page-title">
    <%= image_tag("012-owl.png", class:'tiny-img')  %> Payment details
  </h2>
  <%= render partial: "review_form", locals: {button: "Submit review"} %>
</section>
