<section class="order-index">
  <h2 class="page-title">Order history</h2>
  <% if @orders.count < 1 %>
    <h3> You haven't purchased anything yet!</h3>
  <% else %>
    <% @orders.each do |order| %>
      <article class="media-object stack-for-small">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src= "<%%>">
          </div>
        </div>
        <div class="media-object-section">
          <h4>Product name</h4>
          <p>Product description maybe.</p>
        </div>
      </article>
    <% end %>
  <% end %>
</section>
