<!-- =======flash messages====== -->
<section class="flash <%= flash[:status] %>">
  <p><%= flash[:message] %></p>
  <% if flash[:details] %>
    <ul>
      <% flash[:details].each do |field, problems| %>
        <% problems.each do |problem| %>
          <li><strong><%= field %>:</strong> <%= problem %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</section>
